@model SpcBowling.Models.Player

@foreach (var dateGroup in Model.Scores.OrderBy(d => d.Date).GroupBy(g => g.Date))
{
    <tr>
        <td>
            @dateGroup.Key.ToShortDateString()      <!-- display each date -->
        </td>
        <td>
            @Convert.ToInt32(dateGroup.Average(a => a.BowlingScore))
        </td>
        @if (dateGroup.Key != ViewBag.Date || ViewBag.Date == null)
        {
            <td>@Html.ActionLink("Select", "Index", "Score", new { playerID = Model.PlayerID, date = dateGroup.Key }, new { @class = "btn btn-primary btn-xs" })</td>
        }
        else
        {
            <td>@Html.ActionLink("Deselect", "Index", "Score", new { playerID = Model.PlayerID }, new { @class = "btn btn-primary btn-xs" })</td>
        }
    </tr>
    if (dateGroup.Key == ViewBag.Date)
    {
        <tr>
            <td colspan="3">
                <b>Scores</b>
                <div>
                    @foreach (var score in dateGroup.OrderBy(s=>s.ScoreID))
                    {
                        if (Request.IsAuthenticated && (User.IsInRole("Admin") || ViewBag.PlayerID == Model.PlayerID))
                        {
                            TempData["PlayerID"] = ViewBag.PlayerID;
                            <span>@Html.ActionLink(score.BowlingScore.ToString(), "Edit", new { id = score.ScoreID }, new { @class = "btn btn-default btn-xs" })</span>
                        }
                        else
                        {
                            <span class="spanbtn">@score.BowlingScore</span>
                        }
                    }
                </div>
            </td>
        </tr>
    }
}